<div align="center" class="mar10"> 
		<span class="pp"><a href="#">Privacy Policy</a>
		</span> <span class="pp"><a href="#">Support</a></span>
		<span class="pp"><a href="#">About</a></span>
</div>
<div class="clear"></div>
<div align="center" class="mar10"><a href="#"><%= image_tag "smartesq.jpg", width: "235", height: "46", border: "0" %></a></div>
<div class="clear"></div>
<div align="center" class="mar10">
		<a href="#"><%= image_tag "fb.jpg", width: "167px", height: "26px", border: "0px",  style: "margin-right:5px;" %></a>
		<a href="#"><%= image_tag "twitter.jpg", width: "167px", height: "26px", border: "0px" %></a>
</div>
<div id="footer" align="center" class="mar10">
		Copyright 2012. <a href="#">Smart ESQ.inc</a>. All Rights Reserved. 
</div>
<span class="clearfloats"></span>